<!DOCTYPE html>
<html lang="en">
<head>
  <script src="http://www.parsecdn.com/js/parse-1.2.12.min.js"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= APP_TITLE %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body>

  <app>Loading...</app>

  <!-- shims:js -->
  <!-- endinject -->

  <script>System.config(<%= JSON.stringify(SYSTEM_CONFIG) %>)</script>

  <!-- libs:js -->
  <!-- endinject -->

  <script>
    System.import('<%= BOOTSTRAP_MODULE %>')
      .catch(function (e) {
        console.error(e,
          'Report this error at https://github.com/mgechev/angular2-seed/issues');
      });
  </script>

  <!-- inject:js -->
  <!-- endinject -->

</body>
</html>
