<div class="container" style="margin-left: 40px">
    <form (submit)="SaveToParse(diagnostic)">
        <div class="form-group">
            <label>Name :</label>
            <input [(ngModel)]="model.productName" type="text" class="form-control" placeholder="productName" required>
        </div>
        <div class="form-group">
            <label>Sub Contractor:</label>
            <select class="form-control" required [(ngModel)]="model.subContractor">
                <option *ngFor="#contractor of contractors">{{contractor.name}}</option>
            </select>
        </div>
        <button type="submit">Save</button>
        {{diagnostic}}
    </form>
</div>
